<footer class="footer">
  <div class="footer-bar">
    <!-- Left: Logo -->
    <div class="footer-logo">
      <img src="assets/eventhunt-logo.png" alt="EventHunt Logo" />
    </div>

    <!-- Center: Links + copyright below -->
    <div class="footer-center">
      <div class="footer-links">
        <a href="#">Cookies Setting</a>
        <a href="#">Accessibility</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">FAQ’s</a>
      </div>
      <p class="footer-copy-center">© 2025 EventHunt App</p>
    </div>

    <!-- Right: Social icons + App Store -->
    <div class="footer-right">
      <span class="footer-follow">Follow us On</span>
      <div class="footer-icons">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
     
    </div>
  </div>
</footer>
