<div class="my-events">
  <h2>My Events</h2>

  <button routerLink="/create-event">➕ Create New Event</button>

  <div *ngIf="myEvents.length > 0; else noEvents">
    <ul>
      <li *ngFor="let event of myEvents">
        <h3>{{ event.title }}</h3>
        <p>{{ event.description }}</p>
        <p><strong>Date:</strong> {{ event.date | date }}</p>
        <button [routerLink]="['/edit-event', event.id]">✏️ Edit</button>
        <button (click)="deleteEvent(event.id)">🗑️ Delete</button>
      </li>
    </ul>
  </div>

  <ng-template #noEvents>
    <p>You haven’t created any events yet.</p>
  </ng-template>
</div>
